/*

.UrlBar-UrlFieldWrapper .UrlField > .UrlFragment-Wrapper {
    margin-top: 0px !important;
    padding-bottom: 6px !important;
}

.UrlBar-UrlFieldWrapper .observer .UrlField input {
    margin-top: 0px !important;
    padding-top: 2px !important;
}

*/